@using CslaSampleBlazor.Business.Security
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CslaSampleBlazor.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (navigations == null)
{
    <div>Loading...</div>
}
else
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            @foreach (NavigationInfo navItem in navigations)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@(navItem.Url)">
                        <span class="oi oi-plus" aria-hidden="true"></span> @(navItem.Name)
                    </NavLink>
                </li>
            }
        </ul>
    </div>
}


@code {

    UserNavigationList navigations { get; set; } = null;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnParametersSetAsync()
    {
        navigations = await UserNavigationList.GetUserNavigationListAsync(NavigationTypeValues.BlazorNavigationType, 1);
    }
}
